html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.glow__on__hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow__on__hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow__on__hover:active {
    color: #000
}

.glow__on__hover:active:after {
    background: transparent;
}

.glow__on__hover:hover:before {
    opacity: 1;
}

.glow__on__hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*second button*/


.bubbly-button{
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-left: 10px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color:#fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

    &:focus {
        outline: 0;
    }

    &:before, &:after{
        position: absolute;
        content: '';
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
    }

    &:before{
        display: none;
        top: -75%;
        background-image:
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle,  transparent 20%, #ff0081 20%, transparent 30%),
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle,  transparent 10%, #ff0081 15%, transparent 20%),
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle, #ff0081 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }

    &:after{
        display: none;
        bottom: -75%;
        background-image:
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle,  transparent 10%,#ff0081 15%, transparent 20%),
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle, #ff0081 20%, transparent 20%),
                radial-gradient(circle,#ff0081 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    &:active{
        transform: scale(0.9);
        background-color: #ff0081;
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }

    &.animate{
        &:before{
            display: block;
            animation: topBubbles ease-in-out 0.75s forwards;
        }
        &:after{
            display: block;
            animation: bottomBubbles ease-in-out 0.75s forwards;
        }
    }
}


@keyframes topBubbles {
    0%{
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
}

@keyframes bottomBubbles {
    0%{
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
}

/*!*third button*!*/

.nav__link{
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #FFA31A;
    text-decoration: none;
    transition: color .1s linear;
    width: 220px;
    height: 50px;
    background-color: black;
    border: none;

}

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    opacity: 0;
    background-color: #fce38a;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover{
    color: #fce38a;
}

.nav__link:hover:after,.nav__link.active:after {
    opacity: 1;
}

.nav__link.active{
    color: #fce38a;
}



/*!*fourth button*!*/

.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

a span{
    position: relative;
    z-index: 2;
}

a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

a:hover{
    color: #fff;
}

a:hover:after{
    width: 100%;
}

/*button container*/

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background: #000;
    flex-wrap: wrap; /* Change flex-wrap to wrap to allow buttons to move to the next line */
    gap: 10px; /* Add gap between buttons */

}

.button-container > * {
    margin-right: 10px;
}

.btn {
    white-space: nowrap;
}
.text-box {
    margin-left: 30px;
    margin-top: 20px;
}